@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');



main{
    background-color: aliceblue;
}

.title{
    font-family: "Source Sans Pro", Serif;
    color: #000000;
    padding: 1em;

}


h2{
    color:#000000;
    font-family: "Poppins", "serif";
    text-decoration: underline;
    font-size: 1.5em;
}

p{
    font-family: "quicksand", "serif";
    font-size: clamp(16px, 1.5vw, 24px)
}

.service{

    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: repeat(10, 250px);
    background-color: #d8d5fa;
   
    
}

#box1{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #c7c3f7;
   
}
#box2{
    grid-row-start: 2;
    grid-row-end:4;
    background-color: #c3d7ef;
   
}
#box3{
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #f7d4f5;
}
#box4{
    grid-row-start:4;
    grid-row-end: 6;
    background-color: #c5eff2;
}

#box5{
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: #a1c3ed
}

#box6{
    grid-row-start:6;
    grid-row-end:8;
    background-color: #f0ecde
}

#box7{
    grid-row-start: 7;
    grid-row-end:9;
    background-color: #f2c6df
}
#box8{
    grid-row-start:8 ;
    grid-row-end:10;
    background-color: #ffffff
}
#box9{
    grid-row-start:9;
    grid-row-end:11;
    background-color: #def8d2;
    
}


.service .box{
    display: block;
    text-align: center;
    align-items: center;
    padding: 20px;
    
}
@media (max-width: 800px) {
    .service{
        grid-template-columns: auto;
        grid-template-rows: repeat(9, 350px);
    }
    #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9{
        grid-row-end: span 1;
    }
}
 

main h1{
    text-align: center;
}

main button{
    width: 300px;
    height: 100px;
    border: 1px solid #000000;
    padding: 10px 20px;
    font-family: "Poppins", serif;
    font-size: 1.2em;
    border-radius: 100px;
    cursor: pointer;
  
}
.button{
    text-align: center;
    padding: 2em;
    
    
}
button:hover{
    background-color: #f2f2f2;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}